<header class="mb-4">
    <div id="Container_header">
        <div id="LogoAds">
            <img src="/asset/Logo.png" id="Logo" alt="LOGO" onclick="window.location.href='index.html'"/>
            <img src="/asset/Advertisement.png" id="Ads" alt="Advertisement" onclick="window.location.href='https://google.com'"/>
        </div>
        <div id="NavSearch">
            <ul id="Nav">
                <% /* %>
                <% for( let i = 0; i < data.length; i++ ) { %>
                    <a href="#" class="NavItem <%= (selected ===i?"NavSelected":"") %>">
                        <%= data[i][0] %> <% if (data[i][1] === true) { %>
                        <img src="/asset/Expand.png"/>
                    <% } %></a>
                <% } %>
                <% */ %>

                <% for( let i = 0; i < data.length; i++ ) { %>
                    <li class="NavItem 
                        <%= (selected === i?"NavSelected":"") %>
                        <%= (data[i][1] !== undefined ? "has-submenu": "") %>">
                        <a href="<%= data[i][0][1] %>">
                            <%= data[i][0][0] %>  
                        </a>
                        <% if (data[i][1] !== undefined) { %>
                            <ul class="submenu">
                                <% for( let j = (i == data.length - 1 && loggedIn ? 1: 0); j < data[i][1].length; j++ ) { %>
                                    <li class="subitem">
                                        <a href="<%= data[i][1][j][1] %>">
                                            <%= data[i][1][j][0] %>
                                        </a>
                                    </li>
                                <% } %>
                                <% if (i == data.length - 1 && loggedIn) { %>
                                    <li class="subitem">
                                        <a href="profile.html">Thong tin tai khoan</a>
                                    </li>
                                    <li class="subitem">
                                        <a href="update_profile.html">Cap nhat tai khoan</a>
                                    </li>
                                    <li class="subitem">
                                        <a href="change_password_profile.html">Thay doi mat khau</a>
                                    </li>
                                    <li class="subitem">
                                        <a href="pricing.html">Gia hạn premium</a>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </li>
                <% } %>
            </ul>
            <% if(locals.premium){ %>
                <div id="premiumIcon">
                    <span>PREMIUM</span>
                </div>
            <% } %>
            <div id="SearchBar">
                <div id="LineSearch">
                    <img src="/asset/VerticalLine.png" id="VerticalLine"/>
                    <input id="SearchText" placeholder="Nhap tu khoa tim kiem"/>
                </div>
                <img src="/asset/SearchIcon.png" id="SearchIcon" onclick="window.location.href='search.html'"/>
            </div>
        </div>
    </div>
</header>