<header class="mb-4">
    <div id="Container_header">
        <div id="TopHeader">
            <img src="/asset/image/Logo.png" id="Logo" alt="LOGO" onclick="window.location.href='/'"/>
            <div id="bootstrap-isolate" style="flex-grow: 1;">
                <div class="d-flex justify-content-around">

                
            <% if(header["isPremium"]){ %>
                <div class="d-flex ml-5 align-items-center">
                    <i class="bi bi-award mr-2" style="font-size: 24px; color: #B8B23C;"></i>
                    <h4 class="mb-0" style="color: #E64B4B; font-weight: bold;">PREMIUM</h4>
                </div>
            <% } %>
            <div class="d-flex align-items-center ml-auto mr-5">
                <div class="form-outline">
                    <input type="search" id="SearchText" class="form-control" placeholder="Tìm kiếm" />
                </div>
                <button id="SearchButton" type="button" class="btn btn-dark">
                  <i class="fas fa-search"></i>
                </button>
            </div>
            <a class="d-flex align-items-center mr-5" href="/" style="color: grey;">
                <p class="mb-0 mr-2">Đăng nhập</p>
                <i class="bi bi-person ms-3" style="font-size: 24px;"></i>
            </a>
        </div>
            </div>
        </div>
        <div id="NavSearch">
            <ul id="Nav">
                <li class="NavItem 
                    <%= (header["selectedCat"] === -1 ? "NavSelected" : "") %>">
                    <a href="/">
                        Trang chủ
                    </a>
                </li>

                <% for( let category of footer["catList"] ) { %>
                    <li class="NavItem 
                        <%= (header["selectedCat"] === category.id ?"NavSelected":"") %>
                        <%= (category.children.length > 0 ? "has-submenu": "") %>">
                        <a href="/category/<%= category.id %>/0">
                            <%= category.name %>  
                        </a>
                        <% if (category.children.length > 0) { %>
                            <ul class="submenu">
                                <% for( let sub_category of category.children ) { %>
                                    <li class="subitem">
                                        <a href="/category/<%= sub_category.id %>/0">
                                            <%= sub_category.name %>
                                        </a>
                                    </li>
                                <% } %>
                            </ul>
                        <% } %>
                    </li>
                <% } %>
                <li class="NavItem has-submenu">
                    <a href="#">Khác</a>
                    <ul class="submenu">
                        <% for( let i = 0; i < header["optionalList"].length; i++ ) { %>
                            <li class="subitem">
                                <a href="<%= header["optionalList"][i]["url"] %>">
                                    <%= header["optionalList"][i]["name"] %>
                                </a>
                            </li>
                        <% } %>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<script>
    document.querySelector("#SearchButton").addEventListener('click', (e) => {
        window.location.href = '/search/' + document.querySelector("#SearchText").value.trim() + "/0";
    })
</script> 