<div id="MoiNhatNhieuNhat">
    <div id="MoiNhat">
        <div>
            <div>
                Tin Mới Nhất
            </div>
            <div id="divider"></div>
        </div>
        <div id="GridType0">
            <% for( let article of moi_nhat ) { // Dummy, 1 item * 10%>
                <div id="Container_article" onclick="window.location.href='/content/<%= article.id %>'">
                    <img src="<%= article.thumbnail_url %>" alt="">
                    <div id="Category_box">
                        <p><%= article.category.name %></p>
                    </div>
                    <div id="TitleDate">
                        <p style="font-size:26px;">
                            <%= article.title %>
                        </p>
                        <p style="font-size: 13px;">
                            <%= moment(article.date_published).format('DD/MM/YYYY') %>
                        </p>
                    </div>
                </div>
            <% } %>
        </div>
    </div>
    <div id="NhieuNhat">
        <div>
            <div>
                Xem Nhiều Nhất
            </div>
            <div id="divider">
            </div>
        </div>
        <div id="GridType1">
            <% for( let article of nhieu_nhat ) { // Dummy, 1 item * 10%>
                <div id="Article" onclick="window.location.href='/content/<%= article.id %>'">
                    <img src="<%= article.thumbnail_url %>" alt="ArticleImage">
                    <div id="Info">
                        <div>
                            <%= article.title %>
                        </div>
                        <div>
                            <div>
                                <%= article.category.name %>
                            </div>
                            <div>
                                <%= moment(article.date_published).format('DD/MM/YYYY') %>
                            </div>
                        </div>
                    </div>
                </div>
            <%}%>
        </div>
    </div>
</div>