<div id="NoiBatTop10">
    <div id="SliderTitle">
        <section class="splide type01">
            <div class="splide__track">
                <ul class="splide__list">
                    <% for( let article of noi_bat ) { %>
                        <li class="splide__slide">
                            <div id="Container_article">
                                <img src="<%= article.thumbnail_url %>" alt="">
                                <div id="Category_box">
                                    <p><%= article.category.name %></p>
                                </div>
                                <div id="TitleDate">
                                    <p style="font-size:26px;">
                                        <%= article.title %>
                                    </p>
                                    <p style="font-size: 13px;">
                                        <%= moment(article.date_created).format('DD/MM/YYYY') %>
                                    </p>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
        <div>
            <p>Tin tức nổi bật</p>
        </div>
    </div>
    <div id="SliderTitle">
        <section class="splide type01">
            <div class="splide__track">
                <ul class="splide__list">
                    <% for( let article of top_10 ) { %>
                        <li class="splide__slide">
                            <div id="Container_article">
                                <img src="<%= article.thumbnail_url %>" alt="">
                                <div id="Category_box">
                                    <p><%= article.category.name %></p>
                                </div>
                                <div id="TitleDate">
                                    <p style="font-size:26px;">
                                        <%= article.title %>
                                    </p>
                                    <p style="font-size: 13px;">
                                        <%= moment(article.date_created).format('DD/MM/YYYY') %>
                                    </p>
                                </div>
                            </div>
                        </li>
                    <% } %>
                </ul>
            </div>
        </section>
        <div>
            <p>Top 10 chuyên mục</p>
        </div>
    </div>
</div>