<%- include('signin_signup_resource/user/header.ejs', {title}) %>
    <section class="vh-100">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center mt-2">
                <img src="/asset/image/Logo.png" id="Logo" alt="LOGO" />
            </div>
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card-body p-5 text-center" style="padding-top: 0rem !important;">
                        <h2 class="mb-3"><%= (typeof type_sign_up !== 'undefined' ? "Sign Up" : "Sign Up") %></h2>
                        
                        <% if (typeof type_sign_up !== 'undefined') { %>
                            <div class="form-outline mb-3">
                                <input type="text" id="name" class="form-control form-control-lg" value=<%= user.name %>/>
                                <label class="form-label" for="name">Your Name</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="email" id="email" class="form-control form-control-lg" value=<%= user.email %> readonly/>
                                <label class="form-label" for="email">Your Email</label>
                            </div>

                            <div class="form-outline datepicker w-100 mb-3">
                                <input type="date" class="form-control form-control-lg" id="birthday" />
                                <label for="birthday" class="form-label">Your Birthday</label>
                            </div>
                            <div class="btn-group mb-3 w-100">
                                <button type="button" class="btn btn-light task_type_right"><text
                                        id="user_type">Role</text></button>
                                <button type="button"
                                    class="btn btn-light dropdown-toggle dropdown-toggle-split task_type_left"
                                    data-mdb-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end task_type_dropdown">
                                    <% for (let i = 0; i < roles.length; ++i) { %>
                                        <li><a id=<%= "type_" + i %> class="dropdown-item" onclick=<%= '$("#user_type").text($("#type_' + i + '").text());' %>>
                                            <%= roles[i] %>
                                        </a></li>
                                    <% } %>
                                </ul>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="password" class="form-control form-control-lg" value="this_is_the_temp_meo_meo" readonly/>
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="repassword" class="form-control form-control-lg" value="this_is_the_temp_meo_meo" readonly/>
                                <label class="form-label" for="repassword">Repeat your password</label>
                            </div>
                        <% } else { %>
                            <div class="form-outline mb-3">
                                <input type="text" id="name" class="form-control form-control-lg"/>
                                <label class="form-label" for="name">Your Name</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="email" id="email" class="form-control form-control-lg" />
                                <label class="form-label" for="email">Your Email</label>
                            </div>

                            <div class="form-outline datepicker w-100 mb-3">
                                <input type="date" class="form-control form-control-lg" id="birthday" />
                                <label for="birthday" class="form-label">Your Birthday</label>
                            </div>
                            <div class="btn-group mb-3 w-100">
                                <button type="button" class="btn btn-light task_type_right"><text
                                        id="user_type">Role</text></button>
                                <button type="button"
                                    class="btn btn-light dropdown-toggle dropdown-toggle-split task_type_left"
                                    data-mdb-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end task_type_dropdown">
                                    <% for (let i = 0; i < roles.length; ++i) { %>
                                        <li><a id=<%= "type_" + i %> class="dropdown-item" onclick=<%= '$("#user_type").text($("#type_' + i + '").text());' %>>
                                            <%= roles[i] %>
                                        </a></li>
                                    <% } %>
                                </ul>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="password" class="form-control form-control-lg" />
                                <label class="form-label" for="password">Password</label>
                            </div>

                            <div class="form-outline mb-3">
                                <input type="password" id="repassword" class="form-control form-control-lg" />
                                <label class="form-label" for="repassword">Repeat your password</label>
                                
                            </div>
                        <% } %>
                        <div class="mb-3 g-recaptcha" data-sitekey="6LdxdfomAAAAABLXjSrBnrwjKYcdB7yIazHLOOCl"></div>


                        <div id="error-text" class="d-flex mb-2 flex-row text-danger">
                        </div>
                        <button class="btn btn-primary btn-lg btn-block rounded-0 btn-main mb-3" type="submit"
                            onclick="signUpWithEmail()">Sign up</button>
                        <div class="d-flex justify-content-around align-items-center mb-2">
                            <p class="mb-0">Have already an account? <a href="/signin">Sign in</a></p>
                        </div>
                    </div>
                </div>
            </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <script src="/asset/js/authenticate.js"></script>
<%- include('signin_signup_resource/user/footer.ejs') %>
