<%- include('writer_dashboard_resource/writer_head.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted font-weight-bold">Title</h5>
                                <input type="text" class="form-control mb-3" id="title" value="<%= article ? article.title : '' %>">


                                <h5 class="text-muted font-weight-bold">Short description</h5>
                                <input type="text" class="form-control mb-3" id="short-description" value="<%=article ? article.short_description : ''%>">

                                <h5 class="text-muted font-weight-bold">Content</h5>
                                <div id="toolbar"></div>
                                <div id="editor" style="min-height: 300px;">
                                    <%-(article ? article.content : "")%>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="form-check mb-4" style="margin-left: 5px;">
                <input class="form-check-input" type="checkbox" value="" id="is-premium" <%=(article && article.is_premium ? "checked" : "")%>>
                <h5 class="text-warning">Is PREMIUM</h5>
            </div>
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <span style="font-weight: bold; color: #7A8291;">CATEGORY: </span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning"><text id="category"
                                            style="text-transform: none;">
                                            <%=(article ? article.category.name : categories[0])%>
                                        </text></button>
                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                                        data-mdb-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <% for (let i=0; i < categories.length; ++i) { %>
                                            <li><a id=<%="type_" + i %> class="dropdown-item" onclick=
                                                    <%= '$("#category").text($("#type_' + i + '").text());' %>>
                                                        <%= categories[i] %>
                                                </a></li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <span style="font-weight: bold; color: #7A8291;">TAGS</span>
                                <div class="mt-3 d-flex">
                                    <div id="tags-group" class="d-flex">
                                        <% if (article) { %>
                                            <% for (let i = 0; i < article.tags.length; ++i) { %>
                                                <div class="btn-group mr-2">
                                                    <button type="button" class="btn btn-success " data-mdb-toggle="dropdown"
                                                        aria-expanded="false">
                                                        <text id="tag0" style="text-transform: none;">
                                                            <%= article.tags[i].name %>
                                                        </text></button>
                                                    <button type="button" class="btn btn-success"
                                                        style="border-radius: 0px 4px 4px 0px;" onclick="removeTag(this)">
                                                        <i class="bi bi-x"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <% for (let i=0; i < tags.length; ++i) { %>
                                                            <li><a id=<%="tag0_type_" + i %> class="dropdown-item" onclick=
                                                                    <%= '$("#tag0").text($("#tag0_type_' + i + '").text());' %>>
                                                                        <%= tags[i] %>
                                                                </a></li>
                                                            <% } %>
                                                    </ul>
                                                </div>
                                            <% } %>
                                        <% } else { %>
                                            <div class="btn-group mr-2">
                                                <button type="button" class="btn btn-success " data-mdb-toggle="dropdown"
                                                    aria-expanded="false">
                                                    <text id="tag0" style="text-transform: none;">
                                                        <%=tags[0] %>
                                                    </text></button>
                                                <button type="button" class="btn btn-success"
                                                    style="border-radius: 0px 4px 4px 0px;" onclick="removeTag(this)">
                                                    <i class="bi bi-x"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-end">
                                                    <% for (let i=0; i < tags.length; ++i) { %>
                                                        <li><a id=<%="tag0_type_" + i %> class="dropdown-item" onclick=
                                                                <%= '$("#tag0").text($("#tag0_type_' + i + '").text());' %>>
                                                                    <%= tags[i] %>
                                                            </a></li>
                                                        <% } %>
                                                </ul>
                                            </div>
                                        <% } %>
                                    </div>
                                    <button class="btn btn-success" onclick="addTag()">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="d-flex mb-5">
                <button type="button" class="ms-auto me-auto btn btn-primary mt-3"
                    onclick="uploadArticle()">Submit</button>
            </div>
        </div>

        <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>

        <script>
            const dashboardElement = document.getElementById('dashboard'); 
            const newArticleElement = document.getElementById('new-article'); 

            dashboardElement.classList.remove('active'); 
            newArticleElement.classList.add('active'); 

            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'header': 1 }, { 'header': 2 }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }],
                [{ 'direction': 'rtl' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }],
                ['image', 'video'],
                ['clean']
            ];

            var editor = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions
                },
                theme: 'snow',
            });


            async function uploadArticle() {
                const title = $('#title').val().trim();
                const shortDescription = $('#short-description').val().trim();
                const content = editor.root.innerHTML;
                const isPremium = document.getElementById("is-premium").checked;
                const category = document.getElementById("category").textContent.trim();
                const tagsGroup = document.getElementById("tags-group");
                const tagElements = tagsGroup.getElementsByClassName("btn-group");

                let tags = [];
                for (var i = 0; i < tagElements.length; i++) {
                    var tagText = tagElements[i].querySelector("text").textContent.trim();
                    tags.push(tagText);
                }

                <% if (article) { %> 
                    const data = {
                        id: <%=article.id%>,
                        title: title,
                        shortDescription: shortDescription,
                        content: content,
                        isPremium: isPremium,
                        category: category,
                        tags: tags
                    };
                <% } else { %>
                    const data = {
                        title: title,
                        shortDescription: shortDescription,
                        content: content,
                        isPremium: isPremium,
                        category: category,
                        tags: tags
                    };
                <% } %>

                console.log(data);

                $.ajax({
                    url: '<%= !article ? "/writer/upload" : "/writer/edit" %>',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: async function (response) {
                        window.location.href = '/';
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
            }

            var numTags = <%=(article ? article.tags.length : 1) %>;

            function addTag() {
                let tagsGroupElement = document.getElementById("tags-group");
                let newElement = document.createElement("div");

                newElement.innerHTML = `
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-success" data-mdb-toggle="dropdown" aria-expanded="false">
                            <text id="tag${numTags}" style="text-transform: none;">
                                <%=tags[0] %>
                            </text>
                        </button>
                        <button type="button" class="btn btn-success" style="border-radius: 0px 4px 4px 0px;" onclick="removeTag(this)">
                            <i class="bi bi-x"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <% for (let i=0; i < tags.length; ++i) { %>
                                <li>
                                    <a id=<%="tag${numTags}_type_" + i %> class="dropdown-item" onclick=<%= '$("#tag${numTags}").text($("#tag${numTags}_type_' + i + '").text());' %>>
                                        <%= tags[i] %>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                `;

                tagsGroupElement.appendChild(newElement);

                numTags += 1;
            }

            function removeTag(tag) {
                var tagsGroupElement = tag.parentElement.parentElement;
                if (tagsGroupElement) {
                    tagsGroupElement.removeChild(tag.parentElement);
                }
            }
        </script>
    </main>
    <%- include('writer_dashboard_resource/writer_foot.ejs') %>