<%- include('writer_dashboard_resource/writer_head.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row mb-4">
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <form class="d-none d-md-flex input-group w-auto ms-auto me-auto">
                            <input autocomplete="off" type="search" class="form-control rounded"
                                placeholder='Search article' style="min-width:500px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                        </form>
                    </ul>
                </div>
            </section>
            <section>
                <div class="row">
                    <!-- <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                                    class="img-fluid" />
                                <a href="preview.html">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Article title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quasi
                                    quam iste! Amet maiores reiciendis accusantium repellat tenetur iure eum tempore
                                    dolor</p>
                                <div class="d-flex">
                                    <p>March 03 2023</p>
                                    <p class="ms-auto"><i class="bi bi-circle-fill circle-published me-1"></i>Published
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                                    class="img-fluid" />
                                <a href="preview.html">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Article title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quasi
                                    quam iste! Amet maiores reiciendis accusantium repellat tenetur iure eum tempore
                                    dolor</p>
                                <div class="d-flex">
                                    <p>March 03 2023</p>
                                    <p class="ms-auto"><i class="bi bi-circle-fill circle-pending me-1"></i>Pending</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                                    class="img-fluid" />
                                <a href="preview.html">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Article title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quasi
                                    quam iste! Amet maiores reiciendis accusantium repellat tenetur iure eum tempore
                                    dolor</p>
                                <div class="d-flex">
                                    <p>March 03 2023</p>
                                    <p class="ms-auto"><i class="bi bi-circle-fill circle-reject me-1"></i>Reject</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-sm-8 col-12 mb-4">
                        <div class="card">
                            <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
                                    class="img-fluid" />
                                <a href="preview.html">
                                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                </a>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Article title</h5>
                                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quasi
                                    quam iste! Amet maiores reiciendis accusantium repellat tenetur iure eum tempore
                                    dolor</p>
                                <div class="d-flex">
                                    <p>March 03 2023</p>
                                    <p class="ms-auto"><i class="bi bi-circle-fill circle-approved me-1"></i>Approved
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div> -->

                    <% for (let i=0; i < articles.length; ++i) { %>
                        <div class="col-xl-4 col-sm-8 col-12 mb-4">
                            <div class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src=<%=articles[i].thumbnail_url %>
                                    class="img-fluid" />
                                    <a href="preview.html">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=articles[i].title %>
                                    </h5>
                                    <p class="card-text">
                                        <%=articles[i].short_description %>
                                    </p>
                                    <div class="d-flex">
                                        <p>
                                            <%=articles[i].time %>
                                        </p>
                                        <p class="ms-auto">
                                            <i class="bi bi-circle-fill me-1 <%=(articles_status[i]=="draft"
                                                ? "circle-pending" :
                                                (articles_status[i]=="published"
                                                ? "circle-approved"
                                                : "circle-reject" )) %>"></i>
                                            <%=articles_status[i] %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </section>

            <script>
                const path = window.location.pathname;
                const currentPage = path.substring(path.lastIndexOf("/") + 1, path.lastIndexOf("."));
                if (currentPage && $(`#${currentPage}`).length > 0) {
                    $(`#${currentPage}`).addClass('active');
                } else {
                    $('#dashboard').addClass('active');
                }
            </script>
    </main>
    <%- include('writer_dashboard_resource/writer_foot.ejs') %>