<%- include('writer_dashboard_resource/writer_head.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row mb-4">
                    <ul class="navbar-nav ms-auto d-flex flex-row">
                        <form class="d-none d-md-flex input-group w-auto ms-auto me-auto">
                            <input autocomplete="off" type="search" class="form-control rounded"
                                placeholder='Search article' style="min-width:500px" />
                            <span class="input-group-text border-0"><i class="fas fa-search"></i></span>
                        </form>
                    </ul>
                </div>
            </section>
            <div id="article-status-group" class="mb-3">
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Draft
                </button>
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Reject
                </button>
                <button type="button" class="btn-article-status active" onclick="setStatusFilter(this)">
                    <i class="bi bi-check2 mr-1"></i>
                    Published
                </button>
                <button type="button" class="btn-article-status active btn-secondary ml-2">
                    <i class="bi bi-funnel mr-1"></i>
                    Submit Filter
                </button>
            </div>
            <section>
                <div class="row">
                    <% for (let i=0; i < articles.length; ++i) { %>
                        <div class="col-xl-4 col-sm-8 col-12 mb-4">
                            <div class="card">
                                <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                                    <img src=<%=articles[i].thumbnail_url %>
                                    class="img-fluid" />
                                    <a href="/writer/preview/<%=articles[i].id %>">
                                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%=articles[i].title %>
                                    </h5>
                                    <p class="card-text">
                                        <%=articles[i].short_description %>
                                    </p>
                                    <div class="d-flex">
                                        <p>
                                            <%=articles_status[i].time %>
                                        </p>
                                        <p class="ms-auto">
                                            <i class="bi bi-circle-fill me-1 <%=(articles_status[i].status=="draft"
                                                ? "circle-pending" :
                                                (articles_status[i]=="published"
                                                ? "circle-approved"
                                                : "circle-reject" )) %>"></i>
                                            <%=articles_status[i].status %>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </section>

            <script>
                // const path = window.location.pathname;
                // const currentPage = path.substring(path.lastIndexOf("/") + 1, path.lastIndexOf("."));
                // if (currentPage && $(`#${currentPage}`).length > 0) {
                //     $(`#${currentPage}`).addClass('active');
                // } else {
                //     $('#dashboard').addClass('active');
                // }
                
                function setStatusFilter(button) { 
                    const isActived = button.classList.contains("active");
                    if (isActived) { 
                        button.classList.remove("active");
                        button.getElementsByTagName('i')[0].classList.add("d-none"); 
                    } else { 
                        button.classList.add("active");
                        button.getElementsByTagName('i')[0].classList.remove("d-none"); 
                    }
                }
            </script>
    </main>
    <%- include('writer_dashboard_resource/writer_foot.ejs') %>