<% for (let i=0; i < articles.length; ++i) { %>
  <div class="col-xl-4 col-sm-8 col-12 mb-4">
      <div class="card">
          <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
              <img src=<%=articles[i].thumbnail_url %>
              class="img-fluid" style="width: 100%; aspect-ratio: 3/2;"/>
              <a href="/writer/preview/<%=articles[i].id %>">
                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
              </a>
          </div>
          <div class="card-body">
              <h5 class="card-title" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                  <%=articles[i].title %>
              </h5>
              <p class="card-text" style="overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
                  <%=articles[i].short_description %>
              </p>
              <div class="d-flex">
                  <p>
                      <%=articles[i].time.toLocaleDateString(undefined, { day: 'numeric', month: 'short', year: 'numeric' }) %>
                  </p>
                  <p class="ms-auto text-capitalize">
                      <i class="bi bi-circle-fill me-1 <%=(articles[i].status=="draft"
                          ? "circle-pending" :
                          (articles[i].status=="published"
                          ? "circle-approved"
                          : "circle-reject" )) %>"></i>
                      <%=articles[i].status %>
                  </p>
              </div>
          </div>
      </div>
  </div>
<% } %>