<%- include('header.ejs') %>
    <main style="margin-top: calc(0.5625rem + 67.6px)">
        <div class="container pt-4">
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="text-muted font-weight-bold">Title</h5>
                                <input type="text" class="form-control mb-3" id="title"
                                    value="<%= article ? article.title : '' %>">

                                <h5 class="text-muted font-weight-bold">Short description</h5>
                                <input type="text" class="form-control mb-3" id="short-description"
                                    value="<%=article ? article.short_description : ''%>">
                                
                                <h5 class="text-muted font-weight-bold">Thumbnail</h5>
                                <form id="thumbnail-form">
                                    <label for="img">Select image:</label>
                                    <input type="file" id="img" name="img" accept="image/*">
                                    <input type="submit" value="Upload">
                                </form> 
                                <% if (article) { %>
                                    <div id="thumbnail-container" class="d-flex justify-content-center mt-3 mb-3">
                                        <img id="thumbnail" src="<%=article.thumbnail_url %>" class="w-75"/>
                                    </div>
                                <% } else { %>
                                    <div id="thumbnail-container" class="d-none justify-content-center mt-3 mb-3">
                                        <img id="thumbnail" src="https://iuprtgkypnvwgkhrpbcz.supabase.co/storage/v1/object/public/img-article/1688878614567.jpg" class="w-75"/>
                                    </div>
                                <% } %>    
                                <h5 class="text-muted font-weight-bold">Content</h5>

                                <div class="mb-3" id='video-prompt' style="display: none;">
                                    <div><input class="w-100" type="text" id='video-url' value='https://www.youtube.com/embed/k3zimSRKqNw'></div>
                                    <button id="submit-video" class="btn btn-primary mt-2" type="button" onclick="addVideo()">Add video</button>
                                </div>
                                <div id="toolbar"></div>
                                <div id="editor" style="min-height: 300px;">
                                    <%-(article ? article.content : "" )%>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="form-check mb-4" style="margin-left: 5px;">
                <input class="form-check-input" type="checkbox" value="" id="is-premium" <%=(article &&
                    article.is_premium ? "checked" : "" )%>>
                <h5 class="text-warning">Is PREMIUM</h5>
            </div>
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <span style="font-weight: bold; color: #7A8291;">CATEGORY: </span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-warning"><text id="category"
                                            style="text-transform: none;">
                                            <%=(article ? article.category.name : categories[0])%>
                                        </text></button>
                                    <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                                        data-mdb-toggle="dropdown" aria-expanded="false">
                                        <span class="visually-hidden">Toggle Dropdown</span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-end">
                                        <% for (let i=0; i < categories.length; ++i) { %>
                                            <li><a id=<%="type_" + i %> class="dropdown-item" onclick=
                                                    <%= '$("#category").text($("#type_' + i + '").text());' %>>
                                                        <%= categories[i] %>
                                                </a></li>
                                            <% } %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <section>
                <div class="row">
                    <div class="col mb-4">
                        <div class="card">
                            <div class="card-body">
                                <span style="font-weight: bold; color: #7A8291;">TAGS</span>
                                <div class="mt-3 d-flex">
                                    <div id="tags-group" class="d-flex">
                                        <% if (article) { %>
                                            <% for (let i=0; i < article.tags.length; ++i) { %>
                                                <div class="btn-group mr-2">
                                                    <button type="button" class="btn btn-success "
                                                        data-mdb-toggle="dropdown" aria-expanded="false">
                                                        <text id="tag0" style="text-transform: none;">
                                                            <%= article.tags[i].name %>
                                                        </text></button>
                                                    <button type="button" class="btn btn-success"
                                                        style="border-radius: 0px 4px 4px 0px;"
                                                        onclick="removeTag(this)">
                                                        <i class="bi bi-x"></i>
                                                    </button>
                                                    <ul class="dropdown-menu dropdown-menu-end">
                                                        <% for (let i=0; i < tags.length; ++i) { %>
                                                            <li><a id=<%="tag0_type_" + i %> class="dropdown-item"
                                                                    onclick=
                                                                    <%= '$("#tag0").text($("#tag0_type_' + i
                                                                        + '").text());' %>>
                                                                        <%= tags[i] %>
                                                                </a></li>
                                                            <% } %>
                                                    </ul>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <div class="btn-group mr-2">
                                                            <button type="button" class="btn btn-success "
                                                                data-mdb-toggle="dropdown" aria-expanded="false">
                                                                <text id="tag0" style="text-transform: none;">
                                                                    <%=tags[0] %>
                                                                </text></button>
                                                            <button type="button" class="btn btn-success"
                                                                style="border-radius: 0px 4px 4px 0px;"
                                                                onclick="removeTag(this)">
                                                                <i class="bi bi-x"></i>
                                                            </button>
                                                            <ul class="dropdown-menu dropdown-menu-end">
                                                                <% for (let i=0; i < tags.length; ++i) { %>
                                                                    <li><a id=<%="tag0_type_" + i %>
                                                                            class="dropdown-item" onclick=
                                                                            <%= '$("#tag0").text($("#tag0_type_' + i
                                                                                + '").text());' %>>
                                                                                <%= tags[i] %>
                                                                        </a></li>
                                                                    <% } %>
                                                            </ul>
                                                        </div>
                                                        <% } %>
                                    </div>
                                    <button class="btn btn-success" onclick="addTag()">
                                        <i class="bi bi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div id="error-text" class="d-flex mb-2 flex-row text-danger">
            </div>
            <div class="d-flex mb-5">
                <button type="button" class="ms-auto me-auto btn btn-primary mt-3"
                    onclick="uploadArticle()">Submit</button>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>

        <script>
            const { createClient } = supabase

            const SUPABASE_URL = 'https://iuprtgkypnvwgkhrpbcz.supabase.co'
            const SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Iml1cHJ0Z2t5cG52d2draHJwYmN6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzk0OTYyMTQsImV4cCI6MTk5NTA3MjIxNH0.uM1bPaWeGukhOP5AyNN2LO5wfT1-21uYSNI3f3hZIwg'
            const _supabase = createClient(SUPABASE_URL, SUPABASE_KEY)

            const dashboardElement = document.getElementById('dashboard');
            const newArticleElement = document.getElementById('new-article');

            var thumbnailUrl = '<%= article ? article.thumbnail_url : ""%>'; 

            dashboardElement.classList.remove('active');
            newArticleElement.classList.add('active');

            document.getElementById('thumbnail-form').addEventListener('submit', async function(event) {
                event.preventDefault();

                var fileInput = document.getElementById('img');
                var file = fileInput.files[0];

                if (file) {
                    thumbnailUrl = await uploadImage(file);
                    if (thumbnailUrl != '') { 
                        thumbnailImgContainer = document.getElementById('thumbnail-container'); 
                        if (thumbnailImgContainer.classList.contains('d-none')) { 
                            thumbnailImgContainer.classList.remove('d-none');
                            thumbnailImgContainer.classList.add('d-flex');
                        }
                        document.getElementById('thumbnail').src = thumbnailUrl; 
                    }
                }
            });

            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],
                ['blockquote', 'code-block'],
                [{ 'header': 1 }, { 'header': 2 }],
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],
                [{ 'indent': '-1' }, { 'indent': '+1' }],
                [{ 'direction': 'rtl' }],
                [{ 'size': ['small', false, 'large', 'huge'] }],
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
                [{ 'align': [] }],
                ['image', 'video'],
                ['clean']
            ];

            var editor = new Quill('#editor', {
                theme: 'snow',
                modules: {
                    imageResize: {
                        displaySize: true
                    },
                    toolbar: toolbarOptions,
                },
            });

            function addVideo() { 
                document.getElementById('video-prompt').style.display = 'none';
                
                const videoUrl = document.getElementById('video-url').value.trim();  
                if (videoUrl == '') { 
                    return;
                }

                let range = this.editor.getSelection();
                this.editor.insertEmbed(range.index, 'video', videoUrl);

                let insertedElement = this.editor.getLeaf(range.index)[0].domNode;
                insertedElement.style.width = '75%';
                insertedElement.style.aspectRatio = '3/2';
                insertedElement.style.margin = '0 auto';
            }

            editor.getModule('toolbar').addHandler('video', function() {
                document.getElementById('video-prompt').style.display = 'block'; 
            });

            async function handleImageUpload() {
                var input = document.createElement('input');
                input.type = 'file';
                input.accept = 'image/*';
                input.onchange = async function(event) {
                    var file = event.target.files[0];
                    if (file) {
                        const imageUrl = await uploadImage(file);
                        insertImage(imageUrl); 
                    }
                };
                input.click();
            }

            async function uploadImage(file) {
                var filename = generateUniqueFilename(file.name);

                return await _supabase.storage
                    .from('img-article')
                    .upload(filename, file, {
                        cacheControl: '3600',
                        upsert: false,
                    })
                    .then(response => {
                        if (response.error) {
                            console.error(response.error);
                            return "";
                        }
                        return 'https://iuprtgkypnvwgkhrpbcz.supabase.co/storage/v1/object/public/img-article/' + response.data.path;
                    })
                    .catch(error => {
                        console.error(error);
                        return "";
                    });
            }

            function generateUniqueFilename(originalFilename) {
                var timestamp = new Date().getTime();
                var extension = originalFilename.split('.').pop();
                return `${timestamp}.${extension}`;
            }

            function insertImage(imageUrl) {
                var range = editor.getSelection();
                editor.insertEmbed(range.index, 'image', imageUrl);
            }

            editor.getModule('toolbar').addHandler('image', async function() {
                handleImageUpload();
            });

            async function uploadArticle() {
                const title = $('#title').val().trim();
                const shortDescription = $('#short-description').val().trim();
                const content = editor.root.innerHTML;
                const isPremium = document.getElementById("is-premium").checked;
                const category = document.getElementById("category").textContent.trim();
                const tagsGroup = document.getElementById("tags-group");
                const tagElements = tagsGroup.getElementsByClassName("btn-group");

                let tags = [];
                for (var i = 0; i < tagElements.length; i++) {
                    var tagText = tagElements[i].querySelector("text").textContent.trim();
                    tags.push(tagText);
                }

                if (title === '' || shortDescription === '' || content === '' || category === '' || tags.length === 0) {
                    document.getElementById('error-text').textContent = 'All fields should be filled';
                    return;
                }

                <% if (article) { %> 
                    const data = {
                        id: <%=article.id %>,
                        title: title,
                        shortDescription: shortDescription,
                        content: content,
                        isPremium: isPremium,
                        category: category,
                        tags: tags,
                        thumbnailUrl: thumbnailUrl
                    };
                <% } else { %>
                    const data = {
                        title: title,
                        shortDescription: shortDescription,
                        content: content,
                        isPremium: isPremium,
                        category: category,
                        tags: tags,
                        thumbnailUrl: thumbnailUrl
                    };
                <% } %>

                    console.log(data);

                $.ajax({
                    url: '<%= !article ? "/writer/upload" : "/writer/edit" %>',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: async function (response) {
                        window.location.href = '/';
                    },
                    error: function (error) {
                        alert(error.message);
                    }
                });
            }

            var numTags = <%=(article ? article.tags.length : 1) %>;

            function addTag() {
                let tagsGroupElement = document.getElementById("tags-group");
                let newElement = document.createElement("div");

                newElement.innerHTML = `
                    <div class="btn-group mr-2">
                        <button type="button" class="btn btn-success" data-mdb-toggle="dropdown" aria-expanded="false">
                            <text id="tag${numTags}" style="text-transform: none;">
                                <%=tags[0] %>
                            </text>
                        </button>
                        <button type="button" class="btn btn-success" style="border-radius: 0px 4px 4px 0px;" onclick="removeTag(this)">
                            <i class="bi bi-x"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <% for (let i=0; i < tags.length; ++i) { %>
                                <li>
                                    <a id=<%="tag${numTags}_type_" + i %> class="dropdown-item" onclick=<%= '$("#tag${numTags}").text($("#tag${numTags}_type_' + i + '").text());' %>>
                                        <%= tags[i] %>
                                    </a>
                                </li>
                            <% } %>
                        </ul>
                    </div>
                `;

                tagsGroupElement.appendChild(newElement);

                numTags += 1;
            }

            function removeTag(tag) {
                var tagsGroupElement = tag.parentElement.parentElement;
                if (tagsGroupElement) {
                    tagsGroupElement.removeChild(tag.parentElement);
                }
            }
        </script>
    </main>
    <%- include('footer.ejs') %>